<div class="container-sm border border-secondary-subtle mt-4 p-3">

  <div class="input-group mb-3">
    <input #inputElement type="text" class="form-control" placeholder="Add Todo" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button (click)="onAdd(inputElement.value)" class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
  </div>
  <hr>
  <h5>Todo items</h5>
  <ul class="list-group">
    <li *ngFor="let todo of todos" class="list-group-item">
      <input class="form-check-input me-2" type="checkbox" value="">
      <label class="form-check-label" >{{todo.title}}</label>
    </li>
  </ul>
</div>

