<app-header> </app-header>
<app-todo-list></app-todo-list>

<!--
1. Introduce you with Service, why do we need them, and how do they work.+
* Integrate with GitHub +
2. Move todos items to Service. +
2.5 Create getAll method inside todoService.+
3. On Component init get items from service and display.+
4. Create unique Id onAdd. +
4. OnAdd new todoItem, we will create new object by using id. +
5. Push new created object to service item's. +
6 In Component fetch newTodo and display it +
6. Create deleteById() method inside todoService. +
7. OnComponent implement delete logic. +
8.9 When todo.edit is false, make the input borders: none +
8 Implement Edit Logic +
8.1 OnEdit click make the todo.edit = true; +
8.2 When todo.edit is true, make the input's readonly to false (make editable) +
8.2 When todo.edit is true, make (save and cancel buttons) appear +
8.3 When todo.edit is true, make (edit and delete buttons) disappear +
8.4 onSave => set todo.edit to false +
8.5 onSave => set todo.title to the input's value +
8.6 onSave => update the todo in the backend (with todoService.update) +
8.7 onSave => toggle buttons action containers (edit and delete | save and cancel) +
8.3 onCancel => set todo.edit to false +

10. Forbid the user to add empty todo item. +
11. After input On enter call the add method +
11. Integration with localstorage(needs subtasks) +
9. Increase the input field's width;









-->
