<app-header> </app-header>
<app-todo-list></app-todo-list>

<!--
1. Introduce you with Service, why do we need them, and how do they work.+
* Integrate with GitHub +
2. Move todos items to Service. +
2.5 Create getAll method inside todoService.+
3. On Component init get items from service and display.+
4. Create unique Id onAdd.
4. OnAdd new todoItem, we will create new object by using id.
5. Push new created object to service item's.
6. Create deleteById() method inside todoService.
7. OnComponent implement delete logic.
* Implement Edit Logic // create subtasks
-->
